#career-section{
	padding-top: 50px;
}

.carers{
	padding: 30px 15px;
	background-image: url('../../images/who.jpg');
	background-attachment: scroll;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.carers h2{
	font-weight: bold;
	color: #ea297a;
	margin-bottom: 25px;
}

.carers p{
	font-weight: normal;
	font-size: 1rem;
}

.carers p:hover{
	color: #111e6d;
	cursor:default;
}





.application-form{
	padding: 0px 0px;
}

.app-form{
	padding: 20px;
	border: 2px solid #111e6d;
	border-radius: 30px;
}

.app-form h2{
	font-weight: bold;
	color: #111e6d;
	margin-bottom: 0px;
}

.app-form p{
	color: #111e6d;
	margin-bottom: 30px;
	font-size: 1rem;
}

.app-form p{
	cursor:default;
	color:#111e6d;
}

.app-form p:hover{
	color:#111e6d;
}

.app-form input{
	border-radius: 30px;
	border: 1px solid #48dcfa;
	font-family: 'Roboto', sans-serif;
}

.app-form input::placeholder{
	font-family: 'Roboto', sans-serif;
}

.app-form select{
	border-radius: 30px;
	border: 1px solid #48dcfa;
	font-family: 'Roboto', sans-serif;
}

.app-form select::placeholder{
	font-family: 'Roboto', sans-serif;
}

.app-form textarea::placeholder{
	font-family: 'Roboto', sans-serif;
}

.app-form select:hover { background-color: white; }
.app-form select option {color:gray; background-color:white; }
.app-form select option:hover { background-color: #ea297a;} 

.app-form button{
	background-color: #ed297b;
	color: #fff;
	font-weight: bold;
	border-radius: 30px;
	font-family: 'Roboto', sans-serif;
}

.app-form label{
	background-color: #111e6d;
	color: #fff;
	font-weight: bold;
	border-radius: 30px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	transition: .125 all;
}

.app-form label:hover{
	transform: scale(1.05);
}

#send:hover{
	transform: scale(1.05);
}





.contact-form{
	padding: 60px 15px;
	background-image: url('../../images/contact.jpg');
	background-attachment: scroll;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.contact-form select:hover { background-color: white; }
.contact-form select option {color:gray; background-color:white; }
.contact-form select option:hover { background-color: #ea297a;} 

.contact-form h2{
	font-weight: bold;
	color: #ea297a;
	margin-bottom: 0px;
}

.contact-form p{
	color: #111e6d;
	margin-bottom: 30px;
	font-size: 1rem;
}

.contact-form p:hover{
	color: #111e6d;
	cursor:pointer;
}

.form-field input{
	border-radius: 30px;
	border: 1px solid #48dcfa;
	font-family: 'Roboto', sans-serif;
}

.form-field input::placeholder{
	font-family: 'Roboto', sans-serif;
}

.form-field textarea{
	border-radius: 15px;
	border: 1px solid #48dcfa;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
}

.form-field textarea:focus{
	background-color: transparent;
}

.form-field textarea::placeholder{
	font-family: 'Roboto', sans-serif;
}

.form-field select{
	border-radius: 30px;
	border: 1px solid #48dcfa;
	font-family: 'Roboto', sans-serif;
}

.form-field select::placeholder{
	font-family: 'Roboto', sans-serif;
}

.form-field #send2{
	background-color: #ed297b;
	color: #fff;
	font-weight: bold;
	border-radius: 30px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	transition: .125s all;
}

#send2:hover{
	transform: scale(1.15);
}

.form-text{
	margin-top: 30px;
}

.form-text img{
	margin-bottom: 10px;
}

.form-text p{
	color: #111e6d;
	margin-bottom: 0px;
	font-size: 1rem;
}

.blue-color{
	color: #48dbfc;
}

.blue-color:hover{
	color: #48dbfc;
}
.footer-wrap li{
	font-weight: 300 !important;
}

















.who-we-are{
	padding: 30px 15px;
	font-family: 'Roboto', sans-serif;
	background-image: url('../../images/who.jpg');
	background-attachment: scroll;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.who-we-are h2{
	font-weight: bold;
	color: #ea297a;
	margin-bottom: 25px;
}

.who-we-are p{
	font-weight: normal;
	color: #111e6d;
	font-size: 1rem;
}

.who-we-are p:hover{
	color:#111e6d;
	cursor:default;
}

.who-introduction{
	margin-bottom: 30px;
}




.subscribe{
	padding: 30px 15px;
	background-image: url('../../images/subscribe.jpg');
	background-attachment: scroll;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.subscribe h3{
	font-weight: bold;
	color: #130f41;
	font-size: 1.3rem;
}

.subscribe-form{
	margin-top: 30px;
}

.subscribe-form input{
	border-radius: 30px;
	border: 1px solid #48dcfa;
	font-family: 'Roboto', sans-serif;
}

.subscribe-form input::placeholder{
	color: #121d6d;
	font-family: 'Roboto', sans-serif;
}

.subscribe-form button{
	background-color: #ed297b;
	color: #fff;
	font-weight: bold;
	border-radius: 30px;
	font-family: 'Roboto', sans-serif;
	transition: .125 all;
}

.subscribe-form button:hover{
	transform: scale(1.10);
}

.certificate{
	margin-top: 50px;
}

.gorila-section{
	position: relative;
	z-index: 4434;
}

.gorila-section img{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 55px;
	right: 30px;
	z-index: -11;
}







.footer-wrap{
	padding: 20px 15px;
	background-color: #111e6c;
	color: #fff;
}

.footer-wrap i{
	font-size: 1.5rem;
	transition: 0.15s ease-in-out all;
}

.footer-wrap i:hover{
	color:rgb(237,41,123);
	cursor: pointer;
}

.footer-wrap i:nth-child(2){
	margin-left: 15px;
}

.footer-wrap p{
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	color:white;
}

.footer-wrap p:hover{
	color:white;
	cursor:default;
}

.footer-wrap li{
	font-size: .85rem;
	width: 46%;
	font-weight: bold;
}

.footer-wrap li:last-child{
	width: 46%;
	float: center;
}

.footer-wrap ul li{
	cursor: pointer;
	color: #fff;
	transition: 0.15s ease-in-out all;
}

.footer-wrap ul li:hover{
	color:rgb(237,41,123);
}

.psmedia{
	padding: 20px 0px;
	background-color: #fff;
	color: #ea297a;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.psmedia p{
	margin-bottom: 0px;
	cursor:default;
	color:#111e6c;
}

.psmedia a{
	color: #ea297a;
	text-decoration: none;

}

.psmedia p:hover{
	cursor:default;
	color:#111e6c;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
 	 margin: 0; 
}






@media (min-width: 320px){

}

@media (min-width: 576px){
	
	.footer-wrap li{
		font-size: .7rem;
		width: 30%;
	}

	.footer-wrap li:last-child{
		width: 30%;
		float: none;
		margin-left: none;
		text-align: center;
		margin-left: -5px;
	}

}

@media (min-width: 768px){
	
	.footer-wrap li{
		font-size: .7rem;
		width: 12.5%;
    	line-height: 33px;
	}

	.footer-wrap li:last-child{
		width: 10%;
	}

	.certificate{
		margin-top: 40px;
	}

	.gorila-section img{
		width: 200px;
		height: 200px;
		position: absolute;
		top: 55px;
		right: 30px;
		z-index: -11;
	}

	.form-text{
		margin-top: 0px;
	}


}

@media (min-width: 992px){
	
	.carers p{
		font-size: 1.2rem;
	}

	.app-form p{
		font-size: 1.2rem;
	}

	.contact-form p{
		font-size: 1.2rem;
	}

	.who-we-are p{
		font-size: 1.2rem;
	}

	.subscribe h3{
		font-size: 2rem;
	}

	.footer-wrap li{
	font-size: .85rem;
    width: 11%;
    line-height: 33px;
	}



}

@media (min-width: 1200px){
	
	.footer-wrap li{
		font-size: .85rem;
		width: 11.5%;
    	line-height: 33px;
    	font-size: 1rem;
	}

	.gorila-section img{
		width: 250px;
		height: 250px;
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: -11;
	}

}