.header-desktop{
	padding-bottom: 15px;
	background-color: #111e6c;
	color: #fff;
	z-index: 5000;
}

.header-desktop i{
	transition: 0.15s ease-in-out all;
}

.icon{
	margin-left: 15px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: 0.15s ease-in-out all;
	color:white !important;
}

.icon:hover{
	color:rgb(237,41,123) !important;
}


#pomoc span a i{
	margin-left: 15px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: 0.15s ease-in-out all;
	color:white !important;
}

#pomoc span a i:hover{
	color:rgb(237,41,123) !important;
}

.icon1{
	margin-left: 15px;
	font-size: 1.2rem;
}

.header-desktop p{
	font-size: 1.1rem;
	font-family: 'Roboto', sans-serif;
}

.header-nav-desktop ul{
	margin-bottom: 0px;
}

.header-nav-desktop ul li{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.header-desktop{
	display: none;
}

.header-mobile{
	display: block;
	padding: 0px 15px 20px 15px;
	background-color: #111e6c;
	color: #fff;
}

.header-mobile img{
	margin-bottom: 0px;
	margin-top: 2px;
}

.header-mobile p{
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

.header-mobile h6{
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 0px;
}

.dot{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ea297a;
	margin-left: auto;
	margin-right: auto;
}

.icon1{
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
	transition: 0.15s ease-in-out all;
	cursor: pointer;
}


.header-mobile a{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	transition: 0.15s ease-in-out all;
}

.header-mobile a:hover{
	color:rgb(237,41,123);
}

.header-nav-desktop a li {
	transition: 0.15s ease-in-out all;
}
.header-nav-desktop a li:hover{
	color:rgb(237,41,123);
}

#redIt{
	transition: 0.15s ease-in-out all;
}

#redIt:hover{
	color:rgb(237,41,123);
}





@media (min-width: 320px){

}

@media (min-width: 576px){

}

@media (min-width: 768px){

	.header-mobile{
		display: none;
	}
	
	.header-desktop{
		display: block;
	}

	.header-nav-desktop ul li{
		font-size: .70rem;
		transition: 0.15s ease-in-out all;
		margin-left: 15px;
	}

	.header-nav-desktop ul li i{
		font-size: 1.1rem;
	}

	.header-nav-desktop ul li{
		margin-left: 5px;
	}	

}

@media (min-width: 992px){
	
	.header-nav-desktop ul li{
		margin-left: 20px;
		font-size: .70rem;
	}

	.header-nav-desktop ul li i{
		font-size: 1rem;
	}

}

@media (min-width: 1200px){
	
	.header-nav-desktop ul li{
		margin-left: 30px;
		font-size: .85rem;
	}

}

@media (min-width: 768px) and (max-width: 928px){
	.header-nav-desktop #broj{
		margin-left: 30px;
		margin-top: -5px;
	} 
}