*{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

html,body{
	overflow-x: hidden;
}

.table{
	overflow-x: visible !important;
}

p:hover{
	cursor: default;
}
h2:hover{
	cursor: default;
}

.front-text{
	/*background-color: rgba(17, 30, 109, .8);*/
	background-color: transparent;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
}

.front-text h4{
	margin-top: 5px;
	margin-bottom: 5px;
}

.front-text button{
	background-color: #ea297a;
	color: #fff;
	border-radius: 30px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: all .125s;
}

.front-text button:hover{
	transform: scale(1.15);
}

.table tr{
	border-bottom: 2px solid rgb(17,28,107) !important;
}

.table th{
	border-bottom: 2px solid rgb(17,28,107) !important;
}

.table .last{
	border-bottom: none !important;
}

.table tr td.text-center{
	border-left: 2px solid rgb(17,28,107) !important;
}

.table .no-left{
	border-left: none !important;
}

.aaaaaa{
	width: 13%;
    margin-left: -34px;
    margin-top: 11px;
}

.arrow22{
	cursor: pointer;
	transition: .15s ease-in-out all;
}

.arrow23{
	cursor: pointer;
	transition: .15s ease-in-out all;
}

@media (min-width: 320px) and (max-width: 576px){
	#testimonials-section{
		width: 81.8%;
	}
}

@media (min-width: 578px) and (max-width: 786px){
	#testimonials-section{
		width: 90%;
	}
}


@media (min-width: 320px) and (max-width: 785px){
	.servisi{
		border-right:1px solid white !important;
	}

	.srv2{
		margin-top: -12px;
	}
}

@media (min-width: 320px) and (max-width: 450px){
	#changing-service-name{
	width: 90% !important;
	margin-left: 5% !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
	}
}


@media (min-width: 320px){

	.gor{
		display: none;
	}

	.mobile-gor img{
		height: 200px;
		margin-top: 50px;
		opacity: .6;
	}

	.landing-container{
		background-image: url('../../images/halifax.jpg');
		background-size: cover;
		background-attachment: scroll;
		background-position: center center;
		background-repeat: no-repeat;
		height: 70vh;
		width: 100%;
		margin-top: 129px;
	}
	
	.services-container-fluid h5{
		color:rgb(237,41,123);
		font-weight: bold;
	}

	h4{
		font-weight: bold;
		color:rgb(17,28,107);
	}

	h2{
		font-size:1.7rem !important;
	}

	.certificate-image{
		padding-top: 30px
	}

	.services-container-fluid p{
		font-size: 1.02rem;
		transition: 0.125s ease-in-out all;
		cursor: pointer;
		color:rgb(17,28,107);
		font-weight: bolder;
	}

	.services-container-fluid p:hover{
		color:rgb(237,41,123);
	}

	.services-container-fluid .bubble img{
		position: absolute;
	    z-index: 1;
	    top: 30px;
	    left: 20px;
	    width: 8.5%;
	    opacity: 0.7;
	}

	.services-container-fluid .bubble1 img{
		position: absolute;
	    z-index: 1;
	    top: 22px;
	    left: 74px;
	    width: 4.1%;
	    opacity: 0.7;
	}

	.services-container-fluid .bubble2 img{
		position: absolute;
	    z-index: 1;
	    top: 339px;
	    right: 27px;
	    width: 10%;
	    opacity: 0.7;
	}

	.services-container-fluid .bubble3 img{
		position: absolute;
	    z-index: 1;
	    top: 391px;
	    right: 63px;
	    width: 6%;
	    opacity: 0.7;
	}

	.services-container-fluid .bubble33 img{
		position: absolute;
	    z-index: 1;
	    top: 746px;
	    left: 52px;
	    width: 8%;
	    opacity: 0.7;
	}

	.services-container-fluid .bubble4 img{
	    position: absolute;
	    z-index: 1;
	    top: 1120px;
	    left: -195px;
	    width: 12%;
	     opacity: 0.7;
	}

	.services-container-fluid .bubble5 img{
	    position: absolute;
	    z-index: 1;
	    top: 961px;
	    left: 24px;
	    width: 15%;
	    opacity: 0.7;
	}


	.services-container-fluid .bubble7 img{
	    position: absolute;
	    z-index: 1;
	    top: 1775px;
	    left: 42px;
	    width: 12%;
	    opacity: 0.7;
	}

	.services-container-fluid .bubble8 img{
	  	position: absolute;
	    z-index: 1;
	    top: 650px;
	    right: -131px;
	    width: 6%;
	    opacity: 0.7;
	}

	.bubble6 img{
	    position: absolute;
	    z-index: 1;
	    top: 2335px;
	    right: -150px;
	    width: 111%;
	    opacity: 0.25;
	}

	.services-container-fluid p:hover span{
		border-bottom: 2px solid rgb(17,28,107);
	}

	.bottom-top-margin{
		margin-bottom: 20px;
		margin-top: 25px;
	}

	.selected{
		color:rgb(237,41,123) !important; 
		border-bottom: 2px solid rgb(17,28,107);
	}

	#first-btn{
		font-size: 1.1rem;
		transition: 0.125s ease-in-out all;
		cursor: pointer;
		background-color:rgb(17,28,107);
		color:white;
		font-weight: bold !important;
	    padding-left: 25px !important;
	    padding-right: 25px !important;
	    padding-top: 12px !important;
	    padding-bottom: 12px !important;
		border-radius: 5rem !important;
		margin-top: 5px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#first-btn:hover{
		transform: scale(1.15);
	}

	#changing-image{
		max-height: 300px;
	}

	.services-container p{
		font-size: 1.02rem;
		color:rgb(17,28,107);
		font-weight: normal;
		cursor: default !important;
		line-height: 28px;

	}

	.services-container p:hover{
		color:rgb(17,28,107);
	}

	.margin-top{
		margin-top: 20px;
	}

	.margin-top-larger{
		margin-top: 30px;
	}

	.margin-top-largest{
		margin-top: 40px;
		margin-bottom: 25px;
	}

	.indent{
		text-indent: 45px;
	}

	#second-btn{
		font-size: 1.1rem;
		transition: 0.125s ease-in-out all;
		cursor: pointer;
		background-color:rgb(237,41,123);
		color:white;
		font-weight: bold !important;
	    padding-left: 25px !important;
	    padding-right: 25px !important;
	    padding-top: 12px !important;
	    padding-bottom: 12px !important;
		border-radius: 5rem !important;
		margin-top: 5px;
	}

	#second-btn:hover{
		transform: scale(1.15);
	}

	#parkade h2{
		margin-bottom: 30px;
		color:rgb(17,28,107);
	}

	.testimonials-container{
		margin-top: 80px;
	}

	.circle{
		width: 22px;
		height: 22px;
		background-color: white;
		border:1px solid rgb(17,28,107);
		border-radius: 50%;
		transition: 0.15s all ease;
		cursor: pointer;
		
	}

	#changing-service-name{
		bottom: 15px;
	}

	.circle:hover{
		background-color: rgb(17,28,107);
	}

	.news-container p{
		line-height: 15px;
		cursor: default
	}

	.specials-container p{
		line-height: 15px;
		cursor: default
	}

	.line{
		line-height: 22px !important;
	}

	.aaaaaa{
		display: none;
	}

	.aaa{
		display: inline-flex;
		width: 50%;
    	margin-bottom: -10px;
	}

	#only-mobile{
		text-decoration: none; 
		text-shadow: 2px 0 0 #EBDC1B, -2px 0 0 #EBDC1B, 0 2px 0 #EBDC1B, 0 -2px 0 #EBDC1B, 1px 1px #EBDC1B, -1px -1px 0 #EBDC1B, 1px -1px 0 #EBDC1B, -1px 1px 0 #EBDC1B; 
		color: black;
		font-size: 2rem;
	}

	.arrow{
		display: block;
	}

	.arrow2{
		display: block;
	}

	.arrow22:hover{
		transform: scale(1.2);
	}

	.arrow23:hover{
		transform: scale(1.2);
	}

	.specials-container{
		padding-top: 20px;
	}

	#news-section{
		padding-top: 40px;
	}

	#changing-service-name{
		font-size: 1rem !important;
	}

}

@media (min-width: 576px){
	
	.arrow{
		display: block;
	}

	.arrow2{
		display: block;
	}

	.arrow22{
		cursor: pointer;
		transition: .15s ease-in-out all;
	}

	.arrow23{
		cursor: pointer;
		transition: .15s ease-in-out all;
	}

	.arrow:hover{
		transform: scale(1.2);
	}

	.arrow2:hover{
		transform: scale(1.2);
	}

	#only-mobile{
		text-decoration: none;  
		color: black;
		text-shadow: none;
		font-size: 1.21rem;
	}

	#only-mobile:hover{
		border-bottom: 2px solid black;
	}

	.aaa{
		display: none;
	}

	.bubble6 img{
	    position: absolute;
	    z-index: 1;
	    top: 1935px;
	    right: -150px;
	    width: 111%;
	    opacity: 0.25;
	}

	.services-container-fluid p{
		font-size: 1rem;
	}

	#changing-service-name{
		bottom: 20px;
	}

	.aaaaaa{
		display: inline-flex;
		width: 40%;
    	/* margin-left: 429px; */
    	margin-top: 15px;
    	margin-bottom: -10px;
	}

		#changing-service-name{
		font-size: 1.22rem !important;
	}

}

@media (min-width: 768px){
	
	#news-section{
		padding-top: 0px;
	}

	.specials-container{
		padding-top: 0px;
	}

	.mobile-gor img{
		display: none;
	}

	.gor{
		display: block;
	}

	.arrow{
		display: block;
	}

	.arrow2{
		display: block;
	}

	.arrow{
		position: absolute;
		top: 300px;
		width: 35px;
		left: -45px;
		cursor: pointer;
		transition: .15s ease-in-out all;
	}

	.arrow2{
		position: absolute;
		top: 300px;
		right: -45px;
		width: 35px;
		cursor: pointer;
		transition: .15s ease-in-out all;
	}

	.arrow:hover{
		transform: scale(1.2);
	}

	.arrow2:hover{
		transform: scale(1.2);
	}

	.landing-container{
		background-image: url('../../images/halifax.jpg');
		background-size: cover;
		background-attachment: scroll;
		background-position: center center;
		background-repeat: no-repeat;
		height: 80vh;
		width: 100%;
		margin-top: 79px;
	}

	.front-text{
		background-color: rgba(17, 30, 109, .8);
		/*background-color: transparent;*/
		color: #fff;
		font-weight: bold;
		border-radius: 5px;
		padding-top: 7px;
	}

	.front-text h5{
		/*margin-top: 15px;
		margin-bottom: 15px;*/
		font-size: 1.7rem;
	}

	.front-text button{
		background-color: #ea297a;
		color: #fff;
		border-radius: 30px;
		font-weight: bold;
		margin-top: 5px;
		margin-bottom: 15px;
	}
	
	.services-container-fluid h2{
		color:rgb(237,41,123);
		font-weight: bold;
	}

	#changing-service-name{
		bottom: 25px;
	}

	h4{
		font-weight: bold;
		color:rgb(17,28,107);
	}

	h2{
		font-size:2rem !important;
	}

	.services-container-fluid p{
		font-size: 1rem;
		transition: 0.125s ease-in-out all;
		cursor: pointer;
		color:rgb(17,28,107);
		font-weight: bolder;
	}

	.services-container-fluid p:hover{
		color:rgb(237,41,123);
	}

	.services-container-fluid .bubble img{
		position: absolute;
		z-index: 1;
		top: 30px;
		left: -160px;
		width: 4.5%;
		 opacity: 0.7;
	}

	.services-container-fluid .bubble1 img{
		position: absolute;
		z-index: 1;
		top: 25px;
		left: -100px;
		width: 2.1%;
		 opacity: 0.7;
	}

	.services-container-fluid .bubble2 img{
		position: absolute;
		z-index: 1;
		top: 320px;
		right: -200px;
		width: 5%;
		 opacity: 0.7;
	}

	.services-container-fluid .bubble3 img{
		position: absolute;
		z-index: 1;
		top: 380px;
		right: -152px;
		width: 3%;
		 opacity: 0.7;
	}

	.services-container-fluid .bubble33 img{
		position: absolute;
	    z-index: 1;
	    top: 750px;
	    left: 111px;
	    width: 3%;
	    opacity: 0.7;
	}

	.services-container-fluid .bubble4 img{
	    position: absolute;
	    z-index: 1;
	    top: 1120px;
	    left: -195px;
	    width: 12%;
	     opacity: 0.7;
	}

	.services-container-fluid .bubble5 img{
	    position: absolute;
	    z-index: 1;
	    top: 977px;
	    left: 60px;
	    width: 4%;
	     opacity: 0.7;
	}


	.services-container-fluid .bubble7 img{
	    position: absolute;
	    z-index: 1;
	    top: 1577px;
	    left: 18px;
	    width: 9%;
	     opacity: 0.7;
	}

	.services-container-fluid .bubble8 img{
	  	position: absolute;
	    z-index: 1;
	    top: 650px;
	    right: -131px;
	    width: 6%;
	    opacity: 0.7;
	}

	#first-btn{
		display: none;
	}

	.bubble6 img{
	    position: absolute;
	    z-index: 1;
	    top: 1624px;
	    right: -205px;
	    width: 66%;
	    opacity: 0.3;
	}

	.services-container-fluid p:hover span{
		border-bottom: 2px solid rgb(17,28,107);
	}

	.bottom-top-margin{
		margin-bottom: 25px;
		margin-top: 30px;
	}

	.selected{
		color:rgb(237,41,123) !important; 
		border-bottom: 2px solid rgb(17,28,107);
	}

	#first-btn{
		font-size: 1.1rem;
		transition: 0.125s ease-in-out all;
		cursor: pointer;
		background-color:rgb(17,28,107);
		color:white;
		font-weight: bold !important;
	    padding-left: 25px !important;
	    padding-right: 25px !important;
	    padding-top: 12px !important;
	    padding-bottom: 12px !important;
		border-radius: 5rem !important;
		margin-top: 5px;
	}

	#first-btn:hover{
		transform: scale(1.15);
	}

	#changing-image{
		max-height: 300px;
	}

	.services-container p{
		font-size: 1rem;
		color:rgb(17,28,107);
		font-weight: normal;
		cursor: default !important;
		line-height: 28px;

	}

	.services-container p:hover{
		color:rgb(17,28,107);
	}

	.margin-top{
		margin-top: 25px;
	}

	.margin-top-larger{
		margin-top: 30px;
	}

	.margin-top-largest{
		margin-top: 40px;
		margin-bottom: 25px;
	}

	.indent{
		text-indent: 45px;
	}

	#second-btn{
		font-size: 1.1rem;
		transition: 0.125s ease-in-out all;
		cursor: pointer;
		background-color:rgb(237,41,123);
		color:white;
		font-weight: bold !important;
	    padding-left: 25px !important;
	    padding-right: 25px !important;
	    padding-top: 12px !important;
	    padding-bottom: 12px !important;
		border-radius: 5rem !important;
		margin-top: 5px;
	}

	#second-btn:hover{
		transform: scale(1.15);
	}

	#parkade h2{
		margin-bottom: 30px;
		color:rgb(17,28,107);
	}

	.testimonials-container{
		margin-top: 70px;
	}

	.circle{
		width: 22px;
		height: 22px;
		background-color: white;
		border:1px solid rgb(17,28,107);
		border-radius: 50%;
		transition: 0.15s all ease;
		cursor: pointer;
		
	}

	.circle:hover{
		background-color: rgb(17,28,107);
	}

	.news-container p{
		line-height: 15px;
		cursor: default;
	}

	.specials-container p{
		line-height: 15px;
		cursor: default
	}

	.line{
		line-height: 30px !important;
	}

	.aaaaaa{
		width: 21%;
	    margin-left: -34px;
	    margin-top: 11px;
	}

		#changing-service-name{
		font-size: 1.55rem !important;
	}


}

@media (min-width: 992px){
		.aaaaaa{
		width: 16%;
	    margin-left: -34px;
	    margin-top: 11px;
	}

	#changing-service-name{
		font-size: 2rem !important;
	}

}

@media (min-width: 1200px){

		#changing-service-name{
		font-size: 2.1rem !important;
	}

		.aaaaaa{
		width: 13%;
	    margin-left: -34px;
	    margin-top: 11px;
	}

	.landing-container{
		background-image: url('../../images/halifax.jpg');
		background-size: cover;
		background-attachment: scroll;
		background-position: center center;
		background-repeat: no-repeat;
		height: 78vh;
		width: 100%;
		margin-top: 100px;
	}
	
	.services-container-fluid h2{
		color:rgb(237,41,123);
		font-weight: bold;
	}

	h4{
		font-weight: bold;
		color:rgb(17,28,107);
	}

	.services-container-fluid p{
		font-size: 1rem;
		transition: 0.125s ease-in-out all;
		cursor: pointer;
		color:rgb(17,28,107);
		font-weight: bolder;
	}

	.services-container-fluid p:hover{
		color:rgb(237,41,123);
	}

	.services-container-fluid p:hover span{
		border-bottom: 2px solid rgb(17,28,107);
	}

	#changing-service-name{
		bottom: 33px;
	}

	.bottom-top-margin{
		margin-bottom: 30px;
		margin-top: 40px;
	}
	.selected{
		color:rgb(237,41,123) !important; 
		border-bottom: 2px solid rgb(17,28,107);
	}

	#first-btn{
		font-size: 1.1rem;
		transition: 0.125s ease-in-out all;
		cursor: pointer;
		background-color:rgb(17,28,107);
		color:white;
		font-weight: bold !important;
	    padding-left: 25px !important;
	    padding-right: 25px !important;
	    padding-top: 12px !important;
	    padding-bottom: 12px !important;
		border-radius: 5rem !important;
		margin-top: 5px;
	}

	#first-btn:hover{
		transform: scale(1.15);
	}

	#changing-image{
		max-height: 300px;
	}

	.services-container p{
		font-size: 1.2rem;
		color:rgb(17,28,107);
		font-weight: normal;
		cursor: default !important;
		line-height: 28px;

	}

	.services-container p:hover{
		color:rgb(17,28,107);
	}

	.margin-top{
		margin-top: 35px;
	}

	.margin-top-larger{
		margin-top: 40px;
	}

	.margin-top-largest{
		margin-top: 55px;
		margin-bottom: 40px;
	}

	.indent{
		text-indent: 45px;
	}

	#second-btn{
		font-size: 1.1rem;
		transition: 0.125s ease-in-out all;
		cursor: pointer;
		background-color:rgb(237,41,123);
		color:white;
		font-weight: bold !important;
	    padding-left: 25px !important;
	    padding-right: 25px !important;
	    padding-top: 12px !important;
	    padding-bottom: 12px !important;
		border-radius: 5rem !important;
		margin-top: 5px;
	}

	#second-btn:hover{
		transform: scale(1.15);
	}

	#parkade h2{
		margin-bottom: 30px;
		color:rgb(17,28,107);
	}

	.testimonials-container{
		margin-top: 70px;
	}

	.circle{
		width: 22px;
		height: 22px;
		background-color: white;
		border:1px solid rgb(17,28,107);
		border-radius: 50%;
		transition: 0.15s all ease;
		cursor: pointer;
		
	}

	.circle:hover{
		background-color: rgb(17,28,107);
	}

	.news-container p{
		line-height: 15px;
		cursor: default;
	}

	.specials-container p{
		line-height: 15px;
		cursor: default;
	}
}